In [5]:
# Import necessary libraries

library(rvest)
library(tidyverse)
library(tidymodels)
library(repr)
options(repr.matrix.max.rows = 6)

In [6]:
maternal_health <- read_csv("maternal_health.csv")
new_col_names <- c("age", 
                    "systolic_blood_pressure", 
                    "diastolic_blood_pressure", 
                    "blood_glucose", 
                    "body_temperature", 
                    "heart_rate", 
                    "risk_level")
old_col_names <- colnames(maternal_health)
maternal_health <- maternal_health |> 
    rename_at(old_col_names, ~ new_col_names)
maternal_health

Rows: 1014 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (1): RiskLevel
dbl (6): Age, SystolicBP, DiastolicBP, BS, BodyTemp, HeartRate

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     age systolic_blood_pressure diastolic_blood_pressure blood_glucose
1    25  130                     80                       15
2    35  140                     90                       13
3    29   90                     70                        8
⋮    ⋮   ⋮                       ⋮                        ⋮
1012 35   85                     60                       19
1013 43  120                     90                       18
1014 32  120                     65                        6
     body_temperature heart_rate risk_level
1     98              86         high risk
2     98              70         high risk
3    100              80         high risk
⋮    ⋮                ⋮          ⋮
1012  98              86         high risk
1013  98              70         high risk
1014 101              76         mid risk